* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.0725em;
  box-sizing: border-box;
}

@viewport {
  width: device-width;
}

.container {
  width: 80%;
  margin: auto;
}

/** Showcase **/

#showcase {
  background: url("https://images.unsplash.com/photo-1523882885805-8155d776209a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9008fa49868f5acaad43a9d7c9de158d&auto=format&fit=crop&w=1051&q=80");
  background-size: cover;
  background-position: 60%;
  background-repeat: no-repeat;
  height: 90vh;
}

#showcase .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: stretch;
  padding: 10px 90px;
  transition: all 1s;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

#showcase .logo span {
  color: #e0c233;
  font-weight: 900;
}

#showcase .logo a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 24px;
}

#showcase nav ul li {
  display: inline;
}

#showcase nav ul li a {
  margin-left: 60px;
  color:black;
  text-decoration: none;
  font-size: 14px;
}

#showcase nav ul li a:hover {
  border-bottom: 3px #e0c233 solid;
  transition: all 0.7s;
}

#showcase .link {
  background-color: #e0c233;
  border-radius: 16px;
  color: white;
  padding: 10px 34px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition-timing-function: linear;
  transition: all 1s;
}

#showcase .link:hover {
  background-color: transparent;
  color: #e0c233;
  padding: 10px 34px;
  transition-timing-function: linear;
  transition: all 1s;
  transform: scale(1.4);
}

#showcase .title h1 {
  line-height: 1.2em;
  font-size: 60px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  padding-top: 200px;
}

#showcase .under {
  border-bottom: 20px #e0c233 solid;
}

#showcase .getstarted {
  margin-top: 25px;
  background-color: transperant;
  border: 1px black solid;
  border-radius: 16px;
  color:black;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition: all 1s;
}

#showcase .getstarted:hover {
  color: #e0c233;
  transition: all 1s;
  transform: scale(1.4);
  border: none;
}

/** KEEP **/

#keep {
  background-image: linear-gradient(
      to right,
      rgba(224, 194, 51, 0.4),
      rgba(224, 194, 61, 0.9)
    ),
    url(https://images.unsplash.com/photo-1517134191118-9d595e4c8c2b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f64af19374484d1e18a6e79a439cff9d&auto=format&fit=crop&w=750&q=80);
  height: 480px;
  width: 850px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  border-radius: 6px;
  box-shadow: 0px 8px 35px 0px rgba(0, 0, 0, 0.6);
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: -380px;
}

#keep h2 {
  color: #fff;
  width: 90%;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.6em;
  font-size: 44px;
  letter-spacing: 0.15em;
}

.tevuks {
  position: relative;
}

/** YOURS **/

#yours {
  background-color: #f9f3d9;
  height: 720px;
  margin-top: 400px;
  padding-top: 300px;
}

#yours h2 {
  font-size: 46px;
  text-transform: uppercase;
}

#yours .gridas {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}

#yours .item {
  margin-top: 80px;
  width: 200px;
  text-align: center;
}

#yours i {
  color: #e0c233;
}

#yours .item h2 {
  color: #33658a;
  text-transform: uppercase;
  font-size: 15px;
  margin-top: 15px;
}

#yours .item p {
  margin-top: 20px;
  font-size: 14px;
}

/** How **/

#how {
  margin: 200px 0;
  background-image: url("https://th.bing.com/th/id/OIP.A6ZVTpDYxdeL63W073ItsgHaHa?w=133&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7");
  background-repeat: no-repeat;
  background-position: 80%;
}

#how h2 {
  font-size: 46px;
  text-transform: uppercase;
}

#how .gridasc {
  display: flex;
  flex-direction: column;
}

#how .item {
  width: 250px;
  margin-top: 90px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
}

#how img {
  height: 40px;
  width: auto;
  grid-row: 1/3;
}

#how .item h2 {
  color: #33658a;
  text-transform: uppercase;
  font-size: 15px;
}

#how .item p {
  font-size: 14px;
}

/** Ready? **/

#ready {
  background: linear-gradient(
      360deg,
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.1)
    ),
    url("https://images.unsplash.com/photo-1493589862228-e15fe8a39596?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9f332d0919321d1654296b747dc1e0dc&auto=format&fit=crop&w=1834&q=80");
      background-attachment: fixed;
  background-position: 19% 50%;
  height: 350px;
  background-size: 120%;
  text-align: center;
  display: flex;
}

#ready h2 {
  text-transform: uppercase;
  color: #e0c233;
  font-size: 36px;
  border-radius: 12px;
  padding-bottom: 20px;
}

#ready a {
  background-color: #fff;
  border: 1px #e0c233 solid;
  border-radius: 16px;
  color: #e0c233;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  transition: all 1s;
}

#ready a:hover {
  transition: all 2s;
  transform: scale(1.4) rotate(1080deg);
}

#prefooter {
  background-color: #e0c233;
  height: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin: auto;
  padding: 0 40px;
}

#prefooter ul {
  padding-bottom: 40px;
}

#prefooter ul li {
  list-style-type: none;
  font-size: 14px;
  padding-bottom: 10px;
}

#prefooter ul li a {
  text-decoration: none;
  color: #fff;
}

#prefooter .main {
  font-weight: 900;
  padding-bottom: 20px;
  font-size: 17px;
}

#prefooter p {
  color: #fff;
  font-size: 17px;
}

#prefooter form {
  align-self: center;
  padding-bottom: 35px;
  text-align: center;
}

#prefooter input[type=email] {
  margin-top: 15px;
  border: none;
  padding: 6px 12px;
  border-radius: 12px;
}

#prefooter input[type=submit] {
  font-size: 20px;
}

footer {
  padding: 15px 0;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}

/*** Media Queries ***/

@media only screen and (max-width: 768px) {
 
  .container {
    width: 95%;
    text-align: center;
  }

  #showcase .link {
  display: none;
}
  
  #showcase .navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    text-align: center;
  }

  #showcase {
    height: 650px;
  }

  #showcase .logo {
    padding: 0 10px;
  }

  #showcase .navbar ul li a {
    margin: 0 10px;
  }



  #keep {
    width: 90%;
  }

  #keep h2 {
    line-height: 1.7;
    font-size: 32px;
  }

  #yours {
    min-height: 1050px;
  }

  #yours h2 {
    margin-bottom: 30px;
  }

  #yours .gridas {
    display: flex;
    flex-direction: column;
  }

  #yours .item {
    margin: auto;
    padding-top: 20px;
  }

  #how {
    margin-top: 0px;
    background-size: 80%;
    background-position: center;
    display: flex;
    flex-direction: column;
  }

  #how .image {
    display: inline;
  }

  #how h2 {
    padding: 50px 0;
  }

  #how .gridasc {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #how .item img {
    width: 90px;
    height: auto;
    margin: auto;
    padding-bottom: 10px;
  }

  #how .item {
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #ready {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 50px 0;
  }

  #ready h2 {
    padding: 35px;
    min-width: 200px;
    margin-bottom: 40px;
  }

  #ready a {
    margin-top: 50px;
  }

  #prefooter {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    padding-top: 40px;
  }

  #prefooter ul {
    margin: auto;
    width: 80px;
  }
}

